/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */

@import "compass/reset";

@import "compass/css3";

@import "sassy-buttons";

/*
 * Applied Minds - 'String Reverse' CSS:
 */

/* basic params */
$main_border_radius: 6px; 
$bk_color: #ccc;
$magic_color: #093;

$console_color: #ff9;

/* favorite colors */
$fav_box: #444;
$fav_col: #39f;
$fav_past: #3D5C7E;
$fav_desc: #999;
$fav_top: #fff;
$fav_end: #ace;
$fav_border: #789;



$button_gen_col: #abc;
$button_switch_col: #abc;
$button_fav_col: #9be;
$button_answers_col: #c66;

$console_height: 350px;

$btn_fnt_sz: 14px;

$btn_brd_rad: 6px;
/*---------------------------
        HTML Tags
---------------------------*/
html{
	font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
	height: 100%;
	background: #aaa;	
}

body{
	padding: 10px;
	@include background-image(linear-gradient(white, #aaaaaa));

}

h1{
	color: #bbb;
	font-size: 130%;
	font-weight: bold;
	margin: 2px 2px 20px;
}

h2{
	font-size: 90%;
}

/*---------------------------
           Intro
---------------------------*/
p.overview{
	padding: 2px 0;
	font-size: 80%;
	margin-bottom:10px;
	line-height: 120%;
}


/*---------------------------
        Web Console
---------------------------*/
.web_console{

	padding: 10px;
	margin: 2px;

	height: $console_height;
	overflow: auto;
	border-radius: 4px;
	@include background-image(linear-gradient(#000, rgba(0, 0, 20, 0.4) ));

	line-height: 120%;
	font-size: 80%;
	color: $console_color;
	font-family: "Lucida Console", Monaco, monospace;
}

.control_buttons{
	padding: 3px 2px;
}



/* Themes */
.theme-default{

}
.theme-ocean{
	font-size:  50%;
	font-weight: bold;
	color: #27c;
	letter-spacing: 4px;
	@include background-image(linear-gradient(#fff, rgba(100, 200, 255, 0.3) ));

}
.theme-orange{
	font-size:  50%;
	color: #FFE373;
	/*#fb4*/
	letter-spacing: 2px;
	@include background-image(linear-gradient(#950, rgba(255, 220, 80, 0.3) ));
}

.theme-tech{
	font-size: 100%;
	color: #9CFF93;
	font-weight: bold;
	font-style: italic;
	@include background-image(linear-gradient(rgba(30,200,80,.7) , rgba(30,70,40,.4) ));

}

.theme-kyoto {
	font-size:  50%;
	color: #94c;
	letter-spacing: 2px;
	@include background-image(linear-gradient(#fff, rgba(20, 5, 50, 0.3) ));
}

.theme-large {
	font-size:  150%;
	color: #fff;
	letter-spacing: 2px;
	@include background-image(linear-gradient(#222, rgba(20, 5, 50, 0.3) ));
}

/*---------------------------
           Input
---------------------------*/
/* Input processing section */
.string_processor{
	padding: 10px;
}

.input_string{
	padding: 10px;
	@include background-image(linear-gradient(#fff, #9fc));
	border-radius: $main_border_radius;
 }

 /* The Input string! */
 #string_master{
 	font-size: 110%;
 	padding: 5px;
 	width:500px;
 	border-radius: 4px;
}


/*---------------------------
         Reverse
---------------------------*/
/* The Reverse string! */
.reversed_string{
	margin:8px 0 0;
	padding:10px;
	font-size: 140%;
	height: 30px;
}

/* the realtime reversed string */
.magic_string{
	color: $magic_color;
}

/* The Button */
.fav_save{
	@include sassy-button("matte", $btn_brd_rad, $btn_fnt_sz, $button_fav_col);
}

/* The Button */
.string_swap{
	@include sassy-button("matte", $btn_brd_rad, $btn_fnt_sz, $button_switch_col);
}


/*---------------------------
         Patterns
---------------------------*/
.pattern_helper{
	margin: 10px 0; 
}
.pattern_helper h2{
	margin-bottom: 6px;
	color:#777;
}
label{
	color:#888;
	font-size: 90%;
}
.generate_pattern{
	@include sassy-button("matte", $btn_brd_rad, $btn_fnt_sz, $button_gen_col);
	margin-top: -20px;
}


/*---------------------------
         Favorites
---------------------------*/
/* Your favorite section */
.favorites{
	margin: 0 10px;
	padding: 10px;
	@include background-image(linear-gradient($fav_top, $fav_end));
	color: $fav_box;
	border-radius: $main_border_radius;
	float: right;
	width:400px;
}

.fav_star{
	font-size: 120%;
	line-height: 80%;
	font-weight: bold;

}
/* Your Favorite Reversed string! */
.favorite{

	padding: 4px;

	margin: 5px 0 10px;
	height:22px;
	overflow: auto;
	vertical-align: top;

	color: $fav_col;
	font-size: 10px;
	font-size: 100%;
	font-family: "Lucida Console", Monaco, monospace;

	@include background-image(linear-gradient( #fff , #bdf ));
	border-radius: 20px;
	border:1px solid #bdf; 
}

/* Past Favorites */
.past_favorites{
	margin: 12px 0 0; 
	height: 200px;
	overflow: auto;
	padding:4px;
	background: rgba(255,255,255, 0.2);
	border-radius: 4px;
	border: 1px solid #9ab;
}

.past_favorites ol{
	font-size: 80%;
	margin: 8px 0;
	list-style-type:decimal;
	list-style-position: inside;
}

.past_favorites li{
	border-bottom: 1px dotted $fav_border;
	padding: 7px 0 ;
	margin-bottom: 2px;
}

.favorite_string{
	color: $fav_past;
	font-size: 110%;
	margin-bottom: 4px;
}

.desc{
	color: $fav_desc;
}

/*---------------------------
         Answers
---------------------------*/
.answers{
	padding: 10px;
}

.load_answers{
	@include sassy-button("matte", $btn_brd_rad, $btn_fnt_sz, $button_answers_col);
}

.answer{
	padding:7px;
	margin-bottom: 2px;
	border-bottom: 1px dotted #666;
	color: #555;
}

.answer:hover {
	color: #fff;
}

.answer p{
	font-style: italic;
	font-size: 80%;
	color: #093;
}

.json{
	padding: 10px;
	font-size: 70%;
	font-family: "Lucida Console", Monaco, monospace;
	color: #456;
}

/*---------------------------
         Google
---------------------------*/
#google_content{
	color:#555;
	font-size: 80%;
	margin:10px 0 20px;
	background:#ccc;
	border-radius: 10px;
	padding:10px; 
}

.research_link{
	padding:7px;
	margin-bottom: 2px;
	border-bottom: 1px dotted #666;
	color: #555;
}

.research_link:hover {
	color: #fff;
}

.research_link p{
	padding: 6px;
	font-style: italic;
	font-size: 80%;
	color: #678;
}