<!DOCTYPE html>
<html>
    <head>
        <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
        <title>Applied Minds: String Reversal Sample</title>

        <script src="angular.min.js"></script>
        <script src="controllers.js"></script>
        <link rel="stylesheet" type="text/css" href="applied_style/stylesheets/screen.css">

    </head>

    <body>
        <h1>String Reversal Favorites: Angular Js</h1>
        <div class="quiz_container" ng-app="stringplay">

            <p class="overview">This web app demos string reversal process with client side UI. '<b>Angular Js</b>' javascript library is employed for handling the user input and data processing, binding the data with the DOM (Document Object Model) for efficient client side manipulation. Compass + Sass</b>' CSS preprocessing provide programmatic CSS capabiltiy for improving coding process, cross browser compliance, special effects, color theming, and more.</p>

            <!-- HTML Arrow Codes:
            ................................
            8674 dotted right arrow
            8702 open right arrowhead
            8635 rotation 
            8627 below right
            &#10140; right rounded
            ................................ -->
            <h1>Pattern Programmer</h1>
            <!-- controller for application processing -->
            <div ng-controller="stringController">

                <!-- favorites list of top reversals! -->
                <div class="favorites">
                    <h2>Favorite Reversal:</h2>
                    <div class="favorite" title="{{favorite}}"><span class="fav_star">&#9734;</span> {{favorite}}</div>

                    <h2>Top Favorites:</h2>
                    <div class="past_favorites">
                        <ol>
                            <!-- show past favorites -->
                            <li ng-repeat="st in fav_strings">
                                <div class="favorite_string">'{{st.string}}'</div>
                                <p class="desc">{{st.fascination}}</p>
                            </li>
                        </ol>
                    </div>
                </div>
                <!-- close favorites -->
                
                <!-- string reversal matrix pattern art! -->
                <div class="web_console theme-{{selectedTheme.name}}">
                    <ol>
                        <li ng-repeat="st in input_strings">{{st.string}}</li>
                    </ol>
                </div>

                
                <div class="control_buttons">
                    <!-- #######  pattern gen button ######## -->
                    
                    <!-- generate -->
                    <span class="generate_pattern" ng-click="patternGen()">Generate &#8682;</span>

                    <!-- swap string! reverse the original! -->
                    <span class="string_swap" ng-click="stringSwap(magic_string)">Switch &#8645;</span>

                    <!-- set favorite! -->
                    <span class="fav_save" ng-click="addFav(magic_string)">Add Favorite &#9733;</span>
 
                    <!-- get online scraped json data! -->
                    <span class="load_answers" ng-click="loadResearch()">Get Answers &#63;</span>

                    <!-- mirror console -->
                    <label for="output_mirror">Reflection:</label>
                    <input id="output_mirror"
                           type="checkbox"
                           ng-model="mirror"
                           ng-true-value="symmetry"
                           ng-false-value="asymmetric">

                        <span>{{mirror}}</span>

                    <!-- Theme select dropdown control -->
                    <label for="output_theme">Theme:</label>
                      <select id="output_theme" data-ng-options="theme.name for theme in themes" data-ng-model="selectedTheme"></select>

                    <div>

                        <!-- Gen Length spinner control -->
                        <label for="gen_len">Gen Length</label>
                        <input ng-model="gen_len"
                               id="gen_len" name="gen_len"
                               type="number" min="5" max="100"
                               step="{{gen_len_step_attr}}" size="4">

                        <label for="gen_len_step_attr">Gen Length Step Qty</label>
                        <input ng-model="gen_len_step_attr"
                               id="gen_len_step_attr" name="gen_len_step_attr"
                               type="range" min="1" max="10" step="1">
                    </div>
                </div>


                <!-- input amazing strings with auto-reversal + favorites tracking! -->
                <div class="string_processor" >

                    <!-- pattern helper inspiration zone -->
                    <div class="pattern_helper">
                        <h2>Advanced Pattern Generator Options: Get Inspired!</h2>
                        <!-- pattern gen UI -->
                        <label ng-repeat="pattern in pattern_styles">
                          <input
                            type="checkbox"
                            name="selectedStyles[]"
                            value="{{pattern.style}}"
                            ng-checked="selection.indexOf(pattern.style) > -1"
                            ng-click="toggleSelection(pattern.style)"
                          > {{pattern.style}}
                        </label>
                    </div>

                    <div class="input_string">
                        <label for="stringmaster"> Enter Your Text &raquo </label>
                        <!-- enter characters -->
                        <input id="string_master" 
                               type="text" 
                               name="track_string" 
                               ng-model="stringInput" 
                               ng-change="keydown()"
                               
                               >

                    </div>
                    <!-- showtime! -->
                    <div class="reversed_string">Reverse! &#8635; <span class="magic_string">{{magic_string}}<span></div>

                </div>
                <!-- close string_processor -->

                
                <!-- Answers -->
                <div class="answers">

                    <h2>{{show_answers_title}}</h2>

                    <!-- show JSON -->
                    <p class="json" ng-model="result">
                    {{result}}
                    </p>

                    <ol>
                        <!-- get online scraped json data! -->
                        <li class="answer" ng-repeat="answer in research" title="{{answer.title}}">&#8227; {{answer.title}}
                        <p>{{answer.code}}</p>
                        </li>
                    </ol>

                </div>

            </div>
            <!-- close controller -->

            <!-- RESEARCH -->
            <h1>Live Research</h1>
            <div class="google_api">
                <div>Online Research generated by Google Custom Search Restful JSON Api:</div>
                <p>Research provided Google Custom Search Engine API is queried from the client side using web services and Google Application keys to request live data from around the world.  Here we are researching String Reversal topic and exploring the subject matter from various perspectives including theory, artistry, algorithmic, computational performacce, user interface, web technologies, and other facets of this popular topic theme in computer science.</p>
            
                <div ><ol id="google_content"></ol></div>
                <script>
                  function hndlr(response) {
                  for (var i = 0; i < response.items.length; i++) {
                    var item = response.items[i];
                    // in production code, item.htmlTitle should have the HTML entities escaped.
                    var item_markup = "<li class='research_link' >" + item.htmlTitle +"<p>"+item.snippet+"</p></li>";
                    document.getElementById("google_content").innerHTML += item_markup;
                  }
                }
                </script>
                <!--<script src="https://www.googleapis.com/customsearch/v1?q=reverse+a+string&cx=012709690560969926980%3Arz59qipfo4c&key=AIzaSyAm_UJFxIXcMN1jRL_PNFPCypKwxehU9LQ&callback=hndlr">
                </script>-->
            </div>


        </div>
        <!-- close app -->
    </body>
</html>
