/* Welcome to Compass.
 * In this file you should write your main styles. (or centralize your imports)
 * Import this file using the following HTML or equivalent:
 * <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css" /> */
/* line 17, ../../../../../../../home/JLP/.rvm/gems/ruby-1.9.3-p448/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font: inherit;
  font-size: 100%;
  vertical-align: baseline;
}

/* line 22, ../../../../../../../home/JLP/.rvm/gems/ruby-1.9.3-p448/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
html {
  line-height: 1;
}

/* line 24, ../../../../../../../home/JLP/.rvm/gems/ruby-1.9.3-p448/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
ol, ul {
  list-style: none;
}

/* line 26, ../../../../../../../home/JLP/.rvm/gems/ruby-1.9.3-p448/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* line 28, ../../../../../../../home/JLP/.rvm/gems/ruby-1.9.3-p448/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
caption, th, td {
  text-align: left;
  font-weight: normal;
  vertical-align: middle;
}

/* line 30, ../../../../../../../home/JLP/.rvm/gems/ruby-1.9.3-p448/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q, blockquote {
  quotes: none;
}
/* line 103, ../../../../../../../home/JLP/.rvm/gems/ruby-1.9.3-p448/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
q:before, q:after, blockquote:before, blockquote:after {
  content: "";
  content: none;
}

/* line 32, ../../../../../../../home/JLP/.rvm/gems/ruby-1.9.3-p448/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
a img {
  border: none;
}

/* line 116, ../../../../../../../home/JLP/.rvm/gems/ruby-1.9.3-p448/gems/compass-0.12.2/frameworks/compass/stylesheets/compass/reset/_utilities.scss */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section, summary {
  display: block;
}

/*
 * Applied Minds - 'String Reverse' CSS:
 */
/* basic params */
/* favorite colors */
/*---------------------------
        HTML Tags
---------------------------*/
/* line 47, ../sass/screen.scss */
html {
  font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
  height: 100%;
  background: #aaa;
}

/* line 53, ../sass/screen.scss */
body {
  padding: 10px;
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #ffffff), color-stop(100%, #aaaaaa));
  background-image: -webkit-linear-gradient(#ffffff, #aaaaaa);
  background-image: -moz-linear-gradient(#ffffff, #aaaaaa);
  background-image: -o-linear-gradient(#ffffff, #aaaaaa);
  background-image: linear-gradient(#ffffff, #aaaaaa);
}

/* line 59, ../sass/screen.scss */
h1 {
  color: #bbb;
  font-size: 130%;
  font-weight: bold;
  margin: 2px 2px 20px;
}

/* line 66, ../sass/screen.scss */
h2 {
  font-size: 90%;
}

/*---------------------------
           Intro
---------------------------*/
/* line 73, ../sass/screen.scss */
p.overview {
  padding: 2px 0;
  font-size: 80%;
  margin-bottom: 10px;
  line-height: 120%;
}

/*---------------------------
        Web Console
---------------------------*/
/* line 84, ../sass/screen.scss */
.web_console {
  padding: 10px;
  margin: 2px;
  height: 350px;
  overflow: auto;
  border-radius: 4px;
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #000000), color-stop(100%, rgba(0, 0, 20, 0.4)));
  background-image: -webkit-linear-gradient(#000000, rgba(0, 0, 20, 0.4));
  background-image: -moz-linear-gradient(#000000, rgba(0, 0, 20, 0.4));
  background-image: -o-linear-gradient(#000000, rgba(0, 0, 20, 0.4));
  background-image: linear-gradient(#000000, rgba(0, 0, 20, 0.4));
  line-height: 120%;
  font-size: 80%;
  color: #ffff99;
  font-family: "Lucida Console", Monaco, monospace;
}

/* line 100, ../sass/screen.scss */
.control_buttons {
  padding: 3px 2px;
}

/* Themes */
/* line 110, ../sass/screen.scss */
.theme-ocean {
  font-size: 50%;
  font-weight: bold;
  color: #27c;
  letter-spacing: 4px;
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #ffffff), color-stop(100%, rgba(100, 200, 255, 0.3)));
  background-image: -webkit-linear-gradient(#ffffff, rgba(100, 200, 255, 0.3));
  background-image: -moz-linear-gradient(#ffffff, rgba(100, 200, 255, 0.3));
  background-image: -o-linear-gradient(#ffffff, rgba(100, 200, 255, 0.3));
  background-image: linear-gradient(#ffffff, rgba(100, 200, 255, 0.3));
}

/* line 118, ../sass/screen.scss */
.theme-orange {
  font-size: 50%;
  color: #FFE373;
  /*#fb4*/
  letter-spacing: 2px;
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #995500), color-stop(100%, rgba(255, 220, 80, 0.3)));
  background-image: -webkit-linear-gradient(#995500, rgba(255, 220, 80, 0.3));
  background-image: -moz-linear-gradient(#995500, rgba(255, 220, 80, 0.3));
  background-image: -o-linear-gradient(#995500, rgba(255, 220, 80, 0.3));
  background-image: linear-gradient(#995500, rgba(255, 220, 80, 0.3));
}

/* line 126, ../sass/screen.scss */
.theme-tech {
  font-size: 100%;
  color: #9CFF93;
  font-weight: bold;
  font-style: italic;
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, rgba(30, 200, 80, 0.7)), color-stop(100%, rgba(30, 70, 40, 0.4)));
  background-image: -webkit-linear-gradient(rgba(30, 200, 80, 0.7), rgba(30, 70, 40, 0.4));
  background-image: -moz-linear-gradient(rgba(30, 200, 80, 0.7), rgba(30, 70, 40, 0.4));
  background-image: -o-linear-gradient(rgba(30, 200, 80, 0.7), rgba(30, 70, 40, 0.4));
  background-image: linear-gradient(rgba(30, 200, 80, 0.7), rgba(30, 70, 40, 0.4));
}

/* line 135, ../sass/screen.scss */
.theme-kyoto {
  font-size: 50%;
  color: #94c;
  letter-spacing: 2px;
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #ffffff), color-stop(100%, rgba(20, 5, 50, 0.3)));
  background-image: -webkit-linear-gradient(#ffffff, rgba(20, 5, 50, 0.3));
  background-image: -moz-linear-gradient(#ffffff, rgba(20, 5, 50, 0.3));
  background-image: -o-linear-gradient(#ffffff, rgba(20, 5, 50, 0.3));
  background-image: linear-gradient(#ffffff, rgba(20, 5, 50, 0.3));
}

/* line 142, ../sass/screen.scss */
.theme-large {
  font-size: 150%;
  color: #fff;
  letter-spacing: 2px;
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #222222), color-stop(100%, rgba(20, 5, 50, 0.3)));
  background-image: -webkit-linear-gradient(#222222, rgba(20, 5, 50, 0.3));
  background-image: -moz-linear-gradient(#222222, rgba(20, 5, 50, 0.3));
  background-image: -o-linear-gradient(#222222, rgba(20, 5, 50, 0.3));
  background-image: linear-gradient(#222222, rgba(20, 5, 50, 0.3));
}

/*---------------------------
           Input
---------------------------*/
/* Input processing section */
/* line 153, ../sass/screen.scss */
.string_processor {
  padding: 10px;
}

/* line 157, ../sass/screen.scss */
.input_string {
  padding: 10px;
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #ffffff), color-stop(100%, #99ffcc));
  background-image: -webkit-linear-gradient(#ffffff, #99ffcc);
  background-image: -moz-linear-gradient(#ffffff, #99ffcc);
  background-image: -o-linear-gradient(#ffffff, #99ffcc);
  background-image: linear-gradient(#ffffff, #99ffcc);
  border-radius: 6px;
}

/* The Input string! */
/* line 164, ../sass/screen.scss */
#string_master {
  font-size: 110%;
  padding: 5px;
  width: 500px;
  border-radius: 4px;
}

/*---------------------------
         Reverse
---------------------------*/
/* The Reverse string! */
/* line 176, ../sass/screen.scss */
.reversed_string {
  margin: 8px 0 0;
  padding: 10px;
  font-size: 140%;
  height: 30px;
}

/* the realtime reversed string */
/* line 184, ../sass/screen.scss */
.magic_string {
  color: #009933;
}

/* The Button */
/* line 189, ../sass/screen.scss */
.fav_save {
  font-size: 14px;
  padding: 0.5em 1.5em;
  display: inline-block;
  cursor: pointer;
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  -ms-border-radius: 6px;
  -o-border-radius: 6px;
  border-radius: 6px;
  *zoom: 1;
  filter: progid:DXImageTransform.Microsoft.gradient(gradientType=0, startColorstr='#FF99BBEE', endColorstr='#FF4281DF');
  background: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #dbe7f9), color-stop(70%, #99bbee));
  background: -webkit-linear-gradient(#dbe7f9, #99bbee 70%);
  background: -moz-linear-gradient(#dbe7f9, #99bbee 70%);
  background: -o-linear-gradient(#dbe7f9, #99bbee 70%);
  background: linear-gradient(#dbe7f9, #99bbee 70%);
  -webkit-box-shadow: white 0 1px 0 inset;
  -moz-box-shadow: white 0 1px 0 inset;
  box-shadow: white 0 1px 0 inset;
  border: 1px solid #83acea;
  color: white;
  text-shadow: #6799e6 0 -1px 0;
}
/* line 15, ../../../../../../../home/JLP/.rvm/gems/ruby-1.9.3-p448/gems/sassy-buttons-0.2.6/stylesheets/sassy-buttons/_sassy-button-pseudo-states.sass */
.fav_save:hover {
  text-decoration: none;
}
/* line 18, ../../../../../../../home/JLP/.rvm/gems/ruby-1.9.3-p448/gems/sassy-buttons-0.2.6/stylesheets/sassy-buttons/_sassy-button-pseudo-states.sass */
.fav_save:hover {
  background-color: #83acea;
  background: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(3%, #c5d8f5), color-stop(75%, #83acea));
  background: -webkit-linear-gradient(#c5d8f5 3%, #83acea 75%);
  background: -moz-linear-gradient(#c5d8f5 3%, #83acea 75%);
  background: -o-linear-gradient(#c5d8f5 3%, #83acea 75%);
  background: linear-gradient(#c5d8f5 3%, #83acea 75%);
}
/* line 21, ../../../../../../../home/JLP/.rvm/gems/ruby-1.9.3-p448/gems/sassy-buttons-0.2.6/stylesheets/sassy-buttons/_sassy-button-pseudo-states.sass */
.fav_save:active {
  -webkit-box-shadow: #76a4e8 0 1px 2px inset;
  -moz-box-shadow: #76a4e8 0 1px 2px inset;
  box-shadow: #76a4e8 0 1px 2px inset;
}
/* line 6, ../../../../../../../home/JLP/.rvm/gems/ruby-1.9.3-p448/gems/sassy-buttons-0.2.6/stylesheets/sassy-buttons/_sassy-button-pseudo-states.sass */
.fav_save.disabled, .fav_save[disabled] {
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=60);
  opacity: 0.6;
  background: #99bbee;
  cursor: default;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
}
/* line 74, ../../../../../../../home/JLP/.rvm/gems/ruby-1.9.3-p448/gems/sassy-buttons-0.2.6/stylesheets/_sassy-buttons.sass */
.fav_save::-moz-focus-inner {
  padding: 0 !important;
  margin: -1px !important;
}

/* The Button */
/* line 194, ../sass/screen.scss */
.string_swap {
  font-size: 14px;
  padding: 0.5em 1.5em;
  display: inline-block;
  cursor: pointer;
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  -ms-border-radius: 6px;
  -o-border-radius: 6px;
  border-radius: 6px;
  *zoom: 1;
  filter: progid:DXImageTransform.Microsoft.gradient(gradientType=0, startColorstr='#FFAABBCC', endColorstr='#FF6A88A6');
  background: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #dae1e9), color-stop(70%, #aabbcc));
  background: -webkit-linear-gradient(#dae1e9, #aabbcc 70%);
  background: -moz-linear-gradient(#dae1e9, #aabbcc 70%);
  background: -o-linear-gradient(#dae1e9, #aabbcc 70%);
  background: linear-gradient(#dae1e9, #aabbcc 70%);
  -webkit-box-shadow: white 0 1px 0 inset;
  -moz-box-shadow: white 0 1px 0 inset;
  box-shadow: white 0 1px 0 inset;
  border: 1px solid #9aaec2;
  color: white;
  text-shadow: #859eb6 0 -1px 0;
}
/* line 15, ../../../../../../../home/JLP/.rvm/gems/ruby-1.9.3-p448/gems/sassy-buttons-0.2.6/stylesheets/sassy-buttons/_sassy-button-pseudo-states.sass */
.string_swap:hover {
  text-decoration: none;
}
/* line 18, ../../../../../../../home/JLP/.rvm/gems/ruby-1.9.3-p448/gems/sassy-buttons-0.2.6/stylesheets/sassy-buttons/_sassy-button-pseudo-states.sass */
.string_swap:hover {
  background-color: #9aaec2;
  background: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(3%, #cad5df), color-stop(75%, #9aaec2));
  background: -webkit-linear-gradient(#cad5df 3%, #9aaec2 75%);
  background: -moz-linear-gradient(#cad5df 3%, #9aaec2 75%);
  background: -o-linear-gradient(#cad5df 3%, #9aaec2 75%);
  background: linear-gradient(#cad5df 3%, #9aaec2 75%);
}
/* line 21, ../../../../../../../home/JLP/.rvm/gems/ruby-1.9.3-p448/gems/sassy-buttons-0.2.6/stylesheets/sassy-buttons/_sassy-button-pseudo-states.sass */
.string_swap:active {
  -webkit-box-shadow: #91a7bd 0 1px 2px inset;
  -moz-box-shadow: #91a7bd 0 1px 2px inset;
  box-shadow: #91a7bd 0 1px 2px inset;
}
/* line 6, ../../../../../../../home/JLP/.rvm/gems/ruby-1.9.3-p448/gems/sassy-buttons-0.2.6/stylesheets/sassy-buttons/_sassy-button-pseudo-states.sass */
.string_swap.disabled, .string_swap[disabled] {
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=60);
  opacity: 0.6;
  background: #aabbcc;
  cursor: default;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
}
/* line 74, ../../../../../../../home/JLP/.rvm/gems/ruby-1.9.3-p448/gems/sassy-buttons-0.2.6/stylesheets/_sassy-buttons.sass */
.string_swap::-moz-focus-inner {
  padding: 0 !important;
  margin: -1px !important;
}

/*---------------------------
         Patterns
---------------------------*/
/* line 202, ../sass/screen.scss */
.pattern_helper {
  margin: 10px 0;
}

/* line 205, ../sass/screen.scss */
.pattern_helper h2 {
  margin-bottom: 6px;
  color: #777;
}

/* line 209, ../sass/screen.scss */
label {
  color: #888;
  font-size: 90%;
}

/* line 213, ../sass/screen.scss */
.generate_pattern {
  font-size: 14px;
  padding: 0.5em 1.5em;
  display: inline-block;
  cursor: pointer;
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  -ms-border-radius: 6px;
  -o-border-radius: 6px;
  border-radius: 6px;
  *zoom: 1;
  filter: progid:DXImageTransform.Microsoft.gradient(gradientType=0, startColorstr='#FFAABBCC', endColorstr='#FF6A88A6');
  background: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #dae1e9), color-stop(70%, #aabbcc));
  background: -webkit-linear-gradient(#dae1e9, #aabbcc 70%);
  background: -moz-linear-gradient(#dae1e9, #aabbcc 70%);
  background: -o-linear-gradient(#dae1e9, #aabbcc 70%);
  background: linear-gradient(#dae1e9, #aabbcc 70%);
  -webkit-box-shadow: white 0 1px 0 inset;
  -moz-box-shadow: white 0 1px 0 inset;
  box-shadow: white 0 1px 0 inset;
  border: 1px solid #9aaec2;
  color: white;
  text-shadow: #859eb6 0 -1px 0;
  margin-top: -20px;
}
/* line 15, ../../../../../../../home/JLP/.rvm/gems/ruby-1.9.3-p448/gems/sassy-buttons-0.2.6/stylesheets/sassy-buttons/_sassy-button-pseudo-states.sass */
.generate_pattern:hover {
  text-decoration: none;
}
/* line 18, ../../../../../../../home/JLP/.rvm/gems/ruby-1.9.3-p448/gems/sassy-buttons-0.2.6/stylesheets/sassy-buttons/_sassy-button-pseudo-states.sass */
.generate_pattern:hover {
  background-color: #9aaec2;
  background: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(3%, #cad5df), color-stop(75%, #9aaec2));
  background: -webkit-linear-gradient(#cad5df 3%, #9aaec2 75%);
  background: -moz-linear-gradient(#cad5df 3%, #9aaec2 75%);
  background: -o-linear-gradient(#cad5df 3%, #9aaec2 75%);
  background: linear-gradient(#cad5df 3%, #9aaec2 75%);
}
/* line 21, ../../../../../../../home/JLP/.rvm/gems/ruby-1.9.3-p448/gems/sassy-buttons-0.2.6/stylesheets/sassy-buttons/_sassy-button-pseudo-states.sass */
.generate_pattern:active {
  -webkit-box-shadow: #91a7bd 0 1px 2px inset;
  -moz-box-shadow: #91a7bd 0 1px 2px inset;
  box-shadow: #91a7bd 0 1px 2px inset;
}
/* line 6, ../../../../../../../home/JLP/.rvm/gems/ruby-1.9.3-p448/gems/sassy-buttons-0.2.6/stylesheets/sassy-buttons/_sassy-button-pseudo-states.sass */
.generate_pattern.disabled, .generate_pattern[disabled] {
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=60);
  opacity: 0.6;
  background: #aabbcc;
  cursor: default;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
}
/* line 74, ../../../../../../../home/JLP/.rvm/gems/ruby-1.9.3-p448/gems/sassy-buttons-0.2.6/stylesheets/_sassy-buttons.sass */
.generate_pattern::-moz-focus-inner {
  padding: 0 !important;
  margin: -1px !important;
}

/*---------------------------
         Favorites
---------------------------*/
/* Your favorite section */
/* line 223, ../sass/screen.scss */
.favorites {
  margin: 0 10px;
  padding: 10px;
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #ffffff), color-stop(100%, #aaccee));
  background-image: -webkit-linear-gradient(#ffffff, #aaccee);
  background-image: -moz-linear-gradient(#ffffff, #aaccee);
  background-image: -o-linear-gradient(#ffffff, #aaccee);
  background-image: linear-gradient(#ffffff, #aaccee);
  color: #444444;
  border-radius: 6px;
  float: right;
  width: 400px;
}

/* line 233, ../sass/screen.scss */
.fav_star {
  font-size: 120%;
  line-height: 80%;
  font-weight: bold;
}

/* Your Favorite Reversed string! */
/* line 240, ../sass/screen.scss */
.favorite {
  padding: 4px;
  margin: 5px 0 10px;
  height: 22px;
  overflow: auto;
  vertical-align: top;
  color: #3399ff;
  font-size: 10px;
  font-size: 100%;
  font-family: "Lucida Console", Monaco, monospace;
  background-image: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #ffffff), color-stop(100%, #bbddff));
  background-image: -webkit-linear-gradient(#ffffff, #bbddff);
  background-image: -moz-linear-gradient(#ffffff, #bbddff);
  background-image: -o-linear-gradient(#ffffff, #bbddff);
  background-image: linear-gradient(#ffffff, #bbddff);
  border-radius: 20px;
  border: 1px solid #bdf;
}

/* Past Favorites */
/* line 260, ../sass/screen.scss */
.past_favorites {
  margin: 12px 0 0;
  height: 200px;
  overflow: auto;
  padding: 4px;
  background: rgba(255, 255, 255, 0.2);
  border-radius: 4px;
  border: 1px solid #9ab;
}

/* line 270, ../sass/screen.scss */
.past_favorites ol {
  font-size: 80%;
  margin: 8px 0;
  list-style-type: decimal;
  list-style-position: inside;
}

/* line 277, ../sass/screen.scss */
.past_favorites li {
  border-bottom: 1px dotted lightslategrey;
  padding: 7px 0;
  margin-bottom: 2px;
}

/* line 283, ../sass/screen.scss */
.favorite_string {
  color: #3d5c7e;
  font-size: 110%;
  margin-bottom: 4px;
}

/* line 289, ../sass/screen.scss */
.desc {
  color: #999999;
}

/*---------------------------
         Answers
---------------------------*/
/* line 296, ../sass/screen.scss */
.answers {
  padding: 10px;
}

/* line 300, ../sass/screen.scss */
.load_answers {
  font-size: 14px;
  padding: 0.5em 1.5em;
  display: inline-block;
  cursor: pointer;
  -webkit-border-radius: 6px;
  -moz-border-radius: 6px;
  -ms-border-radius: 6px;
  -o-border-radius: 6px;
  border-radius: 6px;
  *zoom: 1;
  filter: progid:DXImageTransform.Microsoft.gradient(gradientType=0, startColorstr='#FFCC6666', endColorstr='#FF993333');
  background: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(0%, #df9f9f), color-stop(70%, #cc6666));
  background: -webkit-linear-gradient(#df9f9f, #cc6666 70%);
  background: -moz-linear-gradient(#df9f9f, #cc6666 70%);
  background: -o-linear-gradient(#df9f9f, #cc6666 70%);
  background: linear-gradient(#df9f9f, #cc6666 70%);
  -webkit-box-shadow: #f2d9d9 0 1px 0 inset;
  -moz-box-shadow: #f2d9d9 0 1px 0 inset;
  box-shadow: #f2d9d9 0 1px 0 inset;
  border: 1px solid #c65353;
  color: white;
  text-shadow: #ba3e3e 0 -1px 0;
}
/* line 15, ../../../../../../../home/JLP/.rvm/gems/ruby-1.9.3-p448/gems/sassy-buttons-0.2.6/stylesheets/sassy-buttons/_sassy-button-pseudo-states.sass */
.load_answers:hover {
  text-decoration: none;
}
/* line 18, ../../../../../../../home/JLP/.rvm/gems/ruby-1.9.3-p448/gems/sassy-buttons-0.2.6/stylesheets/sassy-buttons/_sassy-button-pseudo-states.sass */
.load_answers:hover {
  background-color: #c65353;
  background: -webkit-gradient(linear, 50% 0%, 50% 100%, color-stop(3%, #d98c8c), color-stop(75%, #c65353));
  background: -webkit-linear-gradient(#d98c8c 3%, #c65353 75%);
  background: -moz-linear-gradient(#d98c8c 3%, #c65353 75%);
  background: -o-linear-gradient(#d98c8c 3%, #c65353 75%);
  background: linear-gradient(#d98c8c 3%, #c65353 75%);
}
/* line 21, ../../../../../../../home/JLP/.rvm/gems/ruby-1.9.3-p448/gems/sassy-buttons-0.2.6/stylesheets/sassy-buttons/_sassy-button-pseudo-states.sass */
.load_answers:active {
  -webkit-box-shadow: #c24747 0 1px 2px inset;
  -moz-box-shadow: #c24747 0 1px 2px inset;
  box-shadow: #c24747 0 1px 2px inset;
}
/* line 6, ../../../../../../../home/JLP/.rvm/gems/ruby-1.9.3-p448/gems/sassy-buttons-0.2.6/stylesheets/sassy-buttons/_sassy-button-pseudo-states.sass */
.load_answers.disabled, .load_answers[disabled] {
  filter: progid:DXImageTransform.Microsoft.Alpha(Opacity=60);
  opacity: 0.6;
  background: #cc6666;
  cursor: default;
  -webkit-box-shadow: none;
  -moz-box-shadow: none;
  box-shadow: none;
}
/* line 74, ../../../../../../../home/JLP/.rvm/gems/ruby-1.9.3-p448/gems/sassy-buttons-0.2.6/stylesheets/_sassy-buttons.sass */
.load_answers::-moz-focus-inner {
  padding: 0 !important;
  margin: -1px !important;
}

/* line 304, ../sass/screen.scss */
.answer {
  padding: 7px;
  margin-bottom: 2px;
  border-bottom: 1px dotted #666;
  color: #555;
}

/* line 311, ../sass/screen.scss */
.answer:hover {
  color: #fff;
}

/* line 315, ../sass/screen.scss */
.answer p {
  font-style: italic;
  font-size: 80%;
  color: #093;
}

/* line 321, ../sass/screen.scss */
.json {
  padding: 10px;
  font-size: 70%;
  font-family: "Lucida Console", Monaco, monospace;
  color: #456;
}

/*---------------------------
         Google
---------------------------*/
/* line 331, ../sass/screen.scss */
#google_content {
  color: #555;
  font-size: 80%;
  margin: 10px 0 20px;
  background: #ccc;
  border-radius: 10px;
  padding: 10px;
}

/* line 340, ../sass/screen.scss */
.research_link {
  padding: 7px;
  margin-bottom: 2px;
  border-bottom: 1px dotted #666;
  color: #555;
}

/* line 347, ../sass/screen.scss */
.research_link:hover {
  color: #fff;
}

/* line 351, ../sass/screen.scss */
.research_link p {
  padding: 6px;
  font-style: italic;
  font-size: 80%;
  color: #678;
}
